<!DOCTYPE html>
<html>

<head>

<title>Order Details</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>


<body>

<div class="container mt-5">

<h1 class="text-center text-primary mb-2">
🛒 My E-Commerce Store
</h1>

<h4 class="text-center text-secondary mb-4">
Invoice / Bill Receipt
</h4>

<div class="card shadow p-4">

<h3>
Order #{{ order.id }}
</h3>

<p><strong>Invoice No:</strong> INV-{{ order.id }}</p>

<p><strong>Date:</strong> {{ order.created_at }}</p>

<p><strong>Customer:</strong> {{ order.user.username }}</p>

<hr>

<h5>
Customer Details
</h5>

<p>
Name:
{{ order.customer_name }}
</p>


<p>
Address:
{{ order.address }}
</p>


<p>
Phone:
{{ order.phone }}
</p>


<hr>


<h5>
Payment Details
</h5>


<p>
Payment Method:
{{ order.payment_method }}
</p>



<h5>
Order Status:
</h5>


{% if order.status == "Pending" %}

<span class="badge bg-warning">
Pending
</span>


{% elif order.status == "Confirmed" %}

<span class="badge bg-primary">
Confirmed
</span>


{% elif order.status == "Shipped" %}

<span class="badge bg-info">
Shipped
</span>


{% elif order.status == "Delivered" %}

<span class="badge bg-success">
Delivered
</span>


{% else %}

<span class="badge bg-danger">
Cancelled
</span>


{% endif %}



<hr>


<h5>
Products
</h5>


<ul class="list-group">


{% for item in order.orderitem_set.all %}


<li class="list-group-item d-flex justify-content-between">


<span>

{{ item.product.name }}

×

{{ item.quantity }}

</span>


<span>

₹{{ item.product.price }}

</span>


</li>


{% endfor %}



</ul>
<hr>

<h4 class="text-end text-success">
Grand Total:
₹{{ total }}
</h4>


<a href="{% url 'my_orders' %}"
   class="btn btn-dark mt-3">

⬅ Back to My Orders

</a>


<a href="{% url 'download_invoice' order.id %}"
   class="btn btn-success mt-3">

⬇ Download Invoice

</a>
<button
    class="btn btn-primary mt-3"
    onclick="window.print()">

🖨 Print Invoice

</button>

</div>


</div>


</body>

</html>